body{
    padding: 0;
    margin: 0 auto;
}

.house-cont{
    /* text-align: center; */
    background-color: rgb(157, 191, 243);
    max-width: 90%;
    margin: 1.5rem auto;    
} 


.search_inp{
    width: 20rem;
    border: 3px solid #fafaf8;
    border-radius: 4rem 0 0 4rem;
    font-size: 20px;
    margin: 2rem -0.3rem 2rem 0;
    padding: 10px; 
    outline: none;
    background-color: transparent; 
} 
.submitBut{
    padding: 13px;
    width: 10rem;
    font-size: 20px;
    border: none;
    margin-top: 2rem;
    margin-bottom: -1.24rem;
}
.first_box{
    margin-top: 20rem;
}

.lagos_f h1{
    font-size: 70px;
}

.lagos_f p{
    font-size: 15px;
}

.lagos_f h2{
    font-size: 30px;
}

.lagos_f h3{
    font-size: 15px;
    margin-top: -1rem;
}
.myarrow i{
    margin: 1.5rem 0 -2rem 0;
}
.center-container{
    background-color: #d9dad6;
}

.iconix p{
    font-size: 20px;
}

.mooncloud{
    font-size: 10rem;
    color: yellow;
}
.text-center{
    margin-top: 3rem;
    
}
.container{
    margin-top: 1rem;
}
.content{
    margin-left: -0.2rem;  
    font-size: 20px; 
}

.content .row{
    margin-bottom: 1rem;
}

.backimg{
    background-image: url('imagemap.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    margin-left: -3em;
    opacity: 0.4;
    
}
.countryName span{
    font-size: 10px;
    position: relative;
    top: -50px;
}
.tooltip.tooltiptext{
    width: 160px;
    bottom:80%;
    left:40%;
    margin-left: 80px;

}

.inFahrenheit{
    text-decoration: none;
}
.inCelsius{
    text-decoration: none;
    cursor: default;
    color: black;
}

.inCelsius:hover{
    text-decoration: none;
}

.weatherDescription{
    font-size: 1rem;
    margin-left: 0.1rem;
}
.onlyButt{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
.removeColor{
    text-decoration: none;
}
.country_pop{
    height: 600px ;
}
.country_pop p{
    opacity: 1;
    width: 8rem;
    font-size: 1.5rem;
}

.country_pop div{
    width: 160px;
    height: 50px;
    text-align: center;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, .5);
}

.country_pop div i{
    color: rgb(173, 216, 17);
}
.libya{
    text-transform:uppercase;
    margin: 5em 10em 0 35em;
}

.morocco{
    text-transform:uppercase;
    margin: 0 2em 0 15em;
}
.somali{
    text-transform:uppercase;
    margin: -3em 20em 0 55em;
}
.chad{
    text-transform:uppercase;
    margin: 5em 10em 0 35em;
}
.egypt{
    text-transform:uppercase;
    margin: 0 2em 0 15em;
}
.zambia{
    text-transform:uppercase;
    margin: -3em 20em 0 55em;
}
.ethiop{
    text-transform:uppercase;
    margin: 5em 10em 0 35em;
}
.naija{
    text-transform:uppercase;
    margin: 0 2em 0 15em;
}
.southaf{
    text-transform:uppercase;
    padding: 1em;
    margin: -3em 20em 0 55em;
    font-size: 1rem;
}
.bots{
    text-transform:uppercase;
    margin: -5em 2em 0 10em;
}

.myarrowtwo{
    margin-left: 70rem;
    font-size: 40px;
    color: #ecf013;
}
.github{
    text-align: center;
    
}